html{
    font-size:  62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    background-color: rgba(139, 139, 139, .993);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.container{
    display: grid;
    

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}

.element{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.element > label{
    color: white;
    width: 10rem;
}

.element > input{
    flex-basis: 10rem;
    border: none;
    align-items: end;
    height: 3rem;
}

.element > button{
    width: 32rem;
    height: 3rem;
}

.btn {
    background-color: rgb(94, 119, 44);
    color: white;
    border: none;
    border-radius: 1rem;
}

.element > p {
    background-color: #777;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
}
